<div class="row">
<div class="logo col-3">
	<img src="/static/images/LOGOB.jpg" class="logo-jpg">
</div>

<div class="col-9">
	<ul class="nav">
		<li class="nav-item"><a class="nav-link" href="/home/index">首页</a></li>
		<li class="nav-item"><a class="nav-link" href="#">走进那杯</a></li>
		<li class="nav-item"><a class="nav-link" href="#">产品中心</a></li>
		<li class="nav-item"><a class="nav-link" href="#">那杯茶知</a></li>
		<li class="nav-item"><a class="nav-link" href="#">加入我们</a></li>
		<li class="nav-item"><a class="nav-link" href="#">客服电话：4000 730 180</a></li>
	</ul>
</div>
</div>
