<div class="row main-content">
	<div class="col-xl-4 item">
		<h5>那杯 - 品牌介绍</h5><br>
		<p>有多少金玉其外而内涵空洞；<br>
		有多少夸夸其谈而外强中干。</p>

		纵故事再多看不出情怀；<br>
		纵选择再多觅不到挚爱。<br><br>
		<p>恰恰好的那杯，<br>
		或许在这...</p>
	</div>
	<div class="col-xl-4 item">
		<h5>那杯 - 品牌动向</h5>
		<ul>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
		</ul>
	</div>
	<div class="col-xl-4 item">
		<h5>那杯 - 产品展示</h5>
		<ul>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
			<li>品牌介绍</li>
		</ul>
	</div>
</div>
